{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				Bona Petite Project
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		{% block header %}{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="{% url 'index' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'about' %}">About</a>
					</li>
					<li>
						<a href="{% url 'contact' %}">Contact</a>
					</li>	
					<li>
						<a href="{% url 'plantinfo' %}">Plant Info</a>
					</li>
					{% if user.is_authenicated %}
					<li>
						<a href="{% url 'auth_logout' %}">Logout</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'auth_login' %}">Login</a>
					</li>
					<li>
						<a href="{% url 'registration_register' %}">Register</a>
					</li>
					{% endif %}
				</ul>
			</nav>		
		</header>
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
	</body>
</html>

