{% extends 'layouts/base.html' %}
{% block title %}Plant Info - {{ block.super }}{% endblock %}
{% block content %}
{% for collector in data %}
<h1>Collection Instance: {{collector.id}}, Instance's Ph Level: {{collector.ph_level}}, Time Collected: {{collector.time_collected}} <h1>
{% endfor %}
{% endblock %}


<!-- <p> The Future of Hydroponic Farms is here! </p>
		{% for collector in data %}
		<h1>Collection Instance: {{collector.id}}, Instance's Ph Level: {{collector.ph_level}}, Time Collected: {{collector.time_collected}} <h1>
		{% endfor %} -->